@*@using entitie ASP_с_бд.Entities.TelephoneDescription*@
@*@model TelephoneDescription telephoneDescriptions*@
@model ASP_с_бд.Entities.TelephoneDescription
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Get Data</title>
    <style type="text/css">
        .brd {
            border: 4px double black;
            background: #e9e5e5;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="brd">
       
        <h2>Редактирование записи</h2>
        <form action="~/TelephoneDescription/Edit" method="post">
            <label>Идентификатор</label><br/>
            <input type="text" name="id" value="@Model.ID"/><br/>
            <label>Фамилия</label><br />
            <input type="text" name="lastName" value="@Model.LastName" size="35"/><br />
            <label>Имя</label><br />
            <input type="text" name="name" value="@Model.Name" size="35"/><br />
            <label>Отчество</label><br />
            <input type="text" name="middleName" value="@Model.MiddleName" size="35"/><br />
            <label>Номер телефона</label><br />
            <input type="text" name="numberTelephone" value="@Model.NumberTelephone" size="35"/><br />
            <label>Адрес</label><br />
            <input type="text" name="adress" value="@Model.Adress" size="35"/><br />
            <label>Примечание</label><br />
            <input type="text" name="description" value="@Model.Description" size="35"/><br />
            <p><input type="submit" value="Сохранить" /></p>
        </form>
    </div>
    <hr />
</body>
</html>
